@import url('https://api.fontshare.com/v2/css?f[]=switzer@400,500,600,700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Switzer', sans-serif;
}

body {
  font-family: 'Switzer', sans-serif;
}

/* Hide number input spinners globally */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
